{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'program_web/css/bootstrap.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}{% endblock %}</title>

<style>
    .container-fluid {
        background-color: #A51935;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .button-bar, input {
        background-color: #A51935;
        color: #FEE6E6;
        width: 110%;
        padding: 15px;
        border: 2px solid #000000;
        border-radius: 50px;
        font-size: 17px;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 8px;
        gap: normal;
    }

    .navbar {
        padding: 15px 15px 0 15px;
    }

    #name {
        font-size: 20px;
        display: flex;
        align-items: center;
    }

    .ml-7 {
        margin-left: 10rem;
    }

    .mr-7 {
        margin-right: 10rem;
    }

    .deep_color {
        background-color: #FEE6E6;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-left, .nav-right {
        display: flex;
        align-items: center;
    }

    .nav-left {
        margin-right: auto;
        padding-left: 55px;
    }

    .nav-right {
        margin-left: auto;
        padding-right: 55px;
    }
</style>
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <div class="nav-left">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'program_web:search' %}"><button class="button-bar">Головна</button><span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'program_web:red' %}"><button class="button-bar">Червоне</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'program_web:rose' %}"><button class="button-bar">Рожеве</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'program_web:white' %}"><button class="button-bar">Біле</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'program_web:sparkling' %}"><button class="button-bar">Ігристі</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'program_web:dessert' %}"><button class="button-bar">Десертні</button></a>
        </li>
      </ul>
    </div>

    <div class="nav-right">
      <ul class="navbar-nav d-flex align-items-center">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'program_web:favorites' %}"><button class="button-bar">Обране</button></a>
          </li>
          <li class="nav-item" id="name">
            <a class="nav-link" style="color: #FEE6E6">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'program_web:logout' %}"><button class="button-bar">Вихід</button></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'program_web:open' %}"><button class="button-bar">Вхід</button></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

<div class="ml-7 mr-7">
  <div class="deep_color">
    {% block content %}
    {% endblock %}
  </div>
</div>
