{% extends 'program_web/bases.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}

{% block title %}Десертне{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'program_web/css/dessert.css' %}">
    <div class="img">

        <h2>Історія десертного вина</h2>

        <img src="{% static 'program_web/png/dessert1.jpg' %}" class="rounded-circle">
        <p>Історія десертного вина налічує тисячоліття, пройшовши шлях від давньоримських часів до сучасності. Вперше згадки про десертні вина зустрічаються в античних легендах та міфах. У Давньому Римі вина, залишені після випаровування води, використовували як десертні.</p>
        <p>Протягом століть винороби вдосконалювали методи виробництва десертних вин, використовуючи різні сорти винограду та техніки ферментації. У середньовіччі десертні вина стали популярними серед шляхти та духовенства.</p>


        <hr>

        <h2>Особливості</h2>
        <ol>
            <li><strong>Солодкість:</strong> Одна з ключових особливостей десертного вина - його солодкий смак. Це досягається шляхом збагачення вина цукром або зупинкою ферментації до повного перетворення цукру в алкоголь.</li>
            <li><strong>Аромат та Смак:</strong> Десертні вина відрізняються багатим ароматом і смаком. Вони можуть мати нотки фруктів, ягід, меду, горіхів та інших смакових відтінків.</li>
            <li><strong>Варіативність:</strong> Десертні вина існують у різних стилях і смаках, від легких та освіжаючих до густих та насичених.</li>
            <li><strong>Подача:</strong> Зазвичай десертні вина подають охолодженими, але кожен сорт може мати свої власні рекомендації з температурою подачі.</li>
        </ol>

        <hr>


        <img src="{% static 'program_web/png/dessert2.jpg' %}" class="d-inline float-start">
        <h2>Виготовлення</h2>
        <p>Процес виготовлення десертного вина включає кілька ключових етапів:</p>
        <ol>
            <li><strong>Вибір Винограду:</strong> Використовуються спеціально вибрані сорти винограду з високим вмістом цукру.</li>
            <li><strong>Ферментація:</strong> Ферментація зупиняється досягнення певного рівня цукру, щоб зберегти природну солодкість вина. Це може бути досягнуто шляхом охолодження, фільтрації або додавання алкоголю.</li>
            <li><strong>Витримка:</strong> Деякі десертні вина піддаються витримці у дубових бочках або танках для набуття складніших смакових відтінків.</li>
            <li><strong>Збагачення:</strong> У деяких випадках вино збагачують або солодять додатковим цукром перед розливом.</li>
        </ol>
    </div>

    <div class="container">
        <div class="row">
            {% for bottle in bottles %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ bottle.name_ua }} ( {{ bottle.name_eng }} )</h4>
                            {% if user.is_authenticated %}
                                {% if bottle.pk in dicts %}
                                    <div class="in_favorite">Додано</div>
                                {% else %}
                                    <button class="add">
                                        <a href="{% url 'program_web:favorite' bottle.pk request.build_absolute_uri %}">Додати</a>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p><b>Країна: </b>{{ bottle.country }}</p>
                            <p><b>Домінуючі ноти: </b>{{ bottle.dominant_notes }}</p>
                            <p><b>Ідеально поєднується з:</b> {{ bottle.taste }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}