{% extends 'program_web/bases.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}

{% block title %}Червоне{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'program_web/css/red.css' %}">

<div class="container">
    <div class="row">
        {% for bottle in bottles %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>{{ bottle.name_ua }} ( {{ bottle.name_eng }} )</h4>
                    {% if user.is_authenticated %}
                        {% if dicts|get:bottle.pk %}
                            <div class="in_favorite">Додано</div>
                        {% else %}
                            <button class="add">
                                <a href="{% url 'program_web:favorite' bottle.pk request.get_full_path %}">Додати</a>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body">
                    <p><b>Країна: </b>{{ bottle.country }}</p>
                    <p><b>Домінуючі ноти: </b>{{ bottle.dominant_notes }}</p>
                    <p><b>Ідеально поєднується з:</b> {{ bottle.taste }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
