{% extends 'program_web/bases.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'program_web/css/rose.css' %}">
<link rel="stylesheet" href="{% static 'program_web/css/bootstrap.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}Рожеве{% endblock %}

{% block content %}

<style>
    h2 {
        margin-left: 2rem
    }
    p {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .img {
        overflow: hidden;
    }
</style>

<body>

    <div class="img">

        <img src="{% static 'program_web/png/rose1.jpg' %}" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;width: 30%;" class="float-start">
        <p>Рожеве вино - це не лише напій, воно - справжня поєднання елегантності, смаку і аромату. Цей винний напій завойовує серця своїми відтінками, різноманітністю смаків і можливістю поєднання з різними стравами. Дозвольте розглянути докладніше, що таке рожеве вино, як його створюють, які варіанти смаків і з чим його найкраще поєднувати.</p>

        <hr>

        <p>Рожеве вино, іноді відоме як "розове" або "напівсухе" вино, - це вино, виготовлене з винограду чорного (чи червоного), але воно має світліший колір через коротший контакт соку винограду з частинками шкірки під час процесу виготовлення. Колір рожевого вина може варіюватися від блідо-рожевого до насиченого червоного, залежно від сорту винограду та тривалості контакту з шкіркою.</p>

        <h2>Виготовлення</h2>
        <p>Процес виробництва рожевого вина може відрізнятися залежно від виноробні та бажаного результату, але основні етапи включають такі кроки:</p>
        <ol>
            <li><strong>Вибір винограду</strong>: Використовуються як чорні сорти винограду (наприклад, Піно Нуар, Сира, Гренаш), так і червоні. Головна різниця полягає в тривалості контакту соку з шкіркою.</li>
            <li><strong>Мацерація</strong>: Це процес, під час якого сік винограду має контакт із шкіркою. У випадку рожевого вина цей контакт коротший, ніж для червоного вина, зазвичай відбувається від кількох годин до декількох діб.</li>
            <li><strong>Віджимання</strong>: Після мацерації сік віджимають від шкірки винограду і процес ферментації продовжується без шкірки.</li>
            <li><strong>Ферментація і витримка</strong>: Сік ферментується у спеціальних ємностях при контрольованій температурі. Після цього рожеве вино може піддаватися витримці в бочках або сталевих ємностях для досягнення бажаного смаку та аромату.</li>
        </ol>

        <hr>

        <h2>Смак та аромат рожевого вина</h2>
        <img src="{% static 'program_web/png/rose2.jpg' %}" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;width: 30%;" class="rounded-circle float-end" >
        <p>Рожеве вино може бути дуже різноманітним у смаку і ароматі, залежно від використаного сорту винограду та технік виготовлення. Однак воно часто володіє свіжими, фруктовими ароматами, такими як полуниця, вишня, малина, а також нюансами трав та квітів. Смак може бути від сухого до напівсолодкого, з легкими кислинкою і приємною свіжістю.</p>

        <hr>

        <h2>З чим вживати рожеве вино?</h2>
        <p>Рожеве вино - це чудовий варіант для поєднання з різноманітними стравами, особливо влітку або на вечірках. Ось деякі рекомендації:</p>
        <ul>
            <li><strong>Морепродукти</strong>: Відмінно пасує до вусташок, креветок, мідій.</li>
            <li><strong>Салати</strong>: Зелені салати з додаванням фруктів або гострих приправ.</li>
            <li><strong>Легкі страви</strong>: Паста з лляним соусом, піца з легкими начинками, сир та деликатеси.</li>
            <li><strong>Фрукти та сир</strong>: Подавайте з сиром козячим або м'якими сортами, а також з фруктами.</li>
            <li><strong>Барбекю</strong>: Ідеальний вибір для поєднання зі свіжими овочами та м'ясом.</li>
        </ul>

    </div>
</body>

{% endblock %}
