{% extends 'program_web/bases.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}

{% block title %}Біле{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'program_web/css/white.css' %}">

    <div class="img">

        <h2>Історія білого вина</h2>
        <img src="{% static 'program_web/png/white1.jpg' %}" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;width: 20%;" class="float-end img-thumbnail">
        <p class="p">Виноробство має давнє коріння, яке сягає кількох тисячоліть. Вважається, що перші вина були створені в регіоні Кавказу та Месопотамії приблизно 6000 років до н.е. Біле вино, ймовірно, почало вироблятися незабаром після відкриття основних принципів ферментації.</p>
        <p class="p">Відомо, що древні єгиптяни, греки та римляни активно займалися виноробством. У Середньовіччі монастирі Європи стали центрами виробництва білого вина, де монахи вдосконалювали технології та зберігали традиції виноробства. З часом біле вино стало невід’ємною частиною європейської культури та гастрономії.</p>
        <p class="p">Виробництво білого вина починається з вибору винограду. Основними сортами для білого вина є Шардоне, Совіньйон Блан, Рислінг, Піно Грі, гевюрцтрамінер та інші. Відмінність білого вина від червоного полягає в тому, що для білого вина використовується лише сік винограду, тоді як червоне вино ферментується разом з шкірками ягід.</p>

        <hr>

        <h2>Види білого вина</h2>
        <p class="p">Біле вино може бути дуже різноманітним за смаком та ароматом, залежно від сорту винограду та технології виробництва. Основні види білого вина включають:</p>
        <img src="{% static 'program_web/png/white2.jpg' %}" style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;margin-left: 10px; width: 20%;" class="float-start rounded">
        <ul>
            <li><strong>Сухі вина</strong>: Вина з мінімальним вмістом цукру. Вони характеризуються свіжістю та кислотністю. Приклади: шардоне, совіньйон блан.</li>
            <li><strong>Напівсухі та напівсолодкі вина</strong>: Мають невеликий вміст цукру, що робить їх більш м'якими та приємними. Приклади: піно грі, гевюрцтрамінер.</li>
            <li><strong>Солодкі вина</strong>: Вина з високим вмістом цукру, часто виготовлені з винограду, що постраждав від благородної гнилі. Приклади: сотерн, токай.</li>
            <li><strong>Ігристі вина</strong>: Вина, що містять вуглекислий газ, створений під час вторинної ферментації. Приклад: шампанське, просекко.</li>
        </ul>

        <hr>

        <h2>Виготовлення</h2>
        <p class="p">Біле вино — це продукт витонченості і майстерності, який винороби виробляють з винограду білих сортів. Процес його виготовлення включає кілька кроків, які підкреслюють смак і аромат кінцевого напою.</p>
        <ol>
            <li><strong>Вибір винограду</strong>: Першим кроком у виготовленні білого вина є вибір високоякісного винограду. Виноград вибирають залежно від сорту і стилю вина, яке вони хочуть отримати. Деякі сорти винограду надають більше фруктових нот, тоді як інші можуть мати більш виражений кислинковий профіль.</li>
            <li><strong>Мацерація</strong>: Після збору винограду його роздавлюють або пресують, щоб отримати сік. Для деяких сортів вин мацерація (контакт з шкіркою) проводиться для видобуття більш насичених ароматів і кольору. Процес може бути короткочасним для збереження світлого кольору вина.</li>
            <li><strong>Ферментація</strong>: Сік перекачують у спеціальні ємності для ферментації. Тут додають дріжджі, які перетворюють цукор винограду на спирт і вуглекислий газ. Тривалість і температура ферментації можуть варіюватися залежно від бажаного стилю вина.</li>
            <li><strong>Витримка</strong>: Після ферментації вино може піддаватися витримці для покращення смакових якостей. Деякі сорти білого вина витримуються в дубових бочках для надання додаткових ароматичних нюансів і текстури.</li>
            <li><strong>Фільтрація та розлив</strong>: Нарешті, вино фільтрують для видалення осаду та інших твердих частинок, після чого його розливають в пляшки. Готове біле вино готове до споживання або подальшої витримки в пляшках.</li>
        </ol>

    </div>

    <div class="container">
        <div class="row">
            {% for bottle in bottles %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ bottle.name_ua }} ( {{ bottle.name_eng }} )</h4>
                            {% if user.is_authenticated %}
                                {% if bottle.pk in dicts %}
                                    <div class="in_favorite">Додано</div>
                                {% else %}
                                    <button class="add">
                                        <a href="{% url 'program_web:favorite' bottle.pk request.build_absolute_uri %}">Додати</a>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p><b>Країна: </b>{{ bottle.country }}</p>
                            <p><b>Домінуючі ноти: </b>{{ bottle.dominant_notes }}</p>
                            <p><b>Ідеально поєднується з:</b> {{ bottle.taste }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
